div{
    height: 200px;
    width: 200px;
    /* background-color: aquamarine; */
    border: 10px solid black ;
    border-top: 10px solid brown;
    /* transform: rotate(45deg); */
    /* position: absolute;
    top: 100px;
    left: 100px; */
    /* transition: all 2s ease-in ; */
    /* animation-name: animation; */
    /* animation-duration: 2s;
    animation-timing-function: ease-in; */
    /* animation-delay: 2s; */
    /* animation-iteration-count: infinite; */
    border-radius: 50%;  
    animation: animation 2s ease-in-out 2s infinite normal;
}
/* @media (max-width:  300px){
div{
    background-color: green;
}
}
@media (min-width:  300px) and (max-width: 400px){
div{
    background-color: pink;
}
}
@media (min-width:  400px) and (max-width: 500px){
div{
    background-color: rgb(230, 101, 9);
}
}
@media (min-width:  500px) and (max-width: 600px){
div{
    background-color: rgb(240, 248, 4);
}
}
@media (min-width : 600px){
div{
    background-color: brown;
}
} */
/* div:hover{
    background-color: chartreuse;
    color: #f70505; */
    /* transform: rotate(360deg); */
    /* transform: translate(400px,300px);
} */
/* @keyframes animation {
    from {left :0px;}
    to {left: 200px ;}
} */
@keyframes animation {
    from {transform: rotate(0deg);
    /* height: 100px;
    width: 100px; */
    }
    
    to {transform: rotate(360deg);
    
    }
}